@charset "UTF-8";
/**
  |============================
  | Блок 1
  |============================
*/
:root {
  /* текст */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --logo-text-color: #000000;
  --button-text-color: #ffffff;
  --footer-text-color: #ffffff;
  --accent-color-text-footer: rgba(255, 255, 255, 0.6);
  --color-icon: #AFB1B8;
  --bottom-madal: #000000;
  /* фон */
  --accent-color: #2196f3;
  --background-color-page: #F5F5F5;
  --secondary-background-color-pag: #F5F4FA;
  --background-color-header: #ffffff;
  --booton-activ-color: #188CE8;
  --background-color-footer: #2F303A;
  --background-color-hero: #C4C4C4;
  --activ-color-projects: rgba(33, 150, 243, 0.9);
  --activ-color-works: rgba(47, 48, 58, 0.8);
  --border-bottom-modal: rgba(0, 0, 0, 0.1);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --backdrop-color-footer-network: rgba(255, 255, 255, 0.1);
  /* рамка */
  --color-border-projects: #eeeeee;
  --border-color-footer: rgba(255, 255, 255, 0.3);
  --border-color-modal: rgba(33, 33, 33, 0.2);
  /* формули */
  --items: 3;
  --indent: 30px;
  /* модальне вікно */
  --placeholder-color-text: rgba(117, 117, 117, 0.5);
}

/**
  |============================
  | Блок 4
  |============================
*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**
  |============================
  | Блок 3
  |============================
*/
.body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/**
  |============================
  | Блок 2
  |============================
*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.section.no-padding {
  padding-top: 0;
}

label {
  display: block;
}

textarea {
  resize: none;
}

/**
  |============================
  | Блок 5
  |============================
*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
}

/**
  |============================
  | Блок 6
  |============================
*/
.header {
  background-color: var(--background-color-header);
  border-bottom: 1px solid var(--color-border-projects);
  letter-spacing: 0.02em;
}

/**
  |============================
  | Блок 7
  |============================
*/
/* Логотип header*/
.logo {
  display: block;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo__dark {
  color: var(--logo-text-color);
  text-decoration: none;
}

.logo__light {
  color: var(--footer-text-color);
  text-decoration: none;
}

/**
  |============================
  | Блок 8
  |============================
*/
/* Site nav */
.nav {
  margin-right: auto;
  margin-left: 91px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-right: auto;
}

.nav__item {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  -webkit-transition-property: color, cursor;
  transition-property: color, cursor;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.nav__item:hover, .nav__item:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.nav__item--current-color {
  position: relative;
  color: var(--accent-color);
}
.nav__item--current-color::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__item--current-color:hover::after {
  -webkit-transform: scaleX(0.4);
          transform: scaleX(0.4);
}

/**
  |============================
  | Блок 9
  |============================
*/
.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.auth__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.auth__link:hover, .auth__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.auth__mail-icon {
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.auth__tel-icon {
  width: 10px;
  height: 16px;
  fill: currentColor;
}

/**
  |============================
  | Блок 10
  |============================
*/
/* Блок герой */
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--background-color-hero);
  max-width: 1600px;
  height: 600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-bottom: 30px;
  color: var(--button-text-color);
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}

/**
  |============================
  | Блок 11
  |============================
*/
.hero__button {
  display: inline-block;
  min-width: 216px;
  padding: 10px 32px;
  -webkit-transition-property: background-color, cursor, -webkit-box-shadow;
  transition-property: background-color, cursor, -webkit-box-shadow;
  transition-property: background-color, box-shadow, cursor;
  transition-property: background-color, box-shadow, cursor, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-color);
  color: var(--button-text-color);
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--booton-activ-color);
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/**
  |============================
  | Блок 12
  |============================
*/
.backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  -webkit-transition: opacity 250ms, visibility 250ms;
  transition: opacity 250ms, visibility 250ms;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/**
  |============================
  | Блок 13
  |============================
*/
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  height: 100% px;
  background-color: var(--background-color-header);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

/**
  |============================
  | Блок 14
  |============================
*/
.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 6px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--border-bottom-modal);
  color: var(--bottom-madal);
  background-color: var(--background-color-header);
  cursor: pointer;
}
.modal__btn-close:hover, .modal__btn-close:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.modal__close-icon {
  fill: currentColor;
}

/**
  |============================
  | Блок 15
  |============================
*/
.register {
  min-width: 448px;
  height: 100%;
  padding: 40px;
  margin-right: auto;
  margin-left: auto;
}

.register__form-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.register__form-field {
  position: relative;
  margin-bottom: 10px;
}
.register__form-field:last-child {
  margin-bottom: 0;
}

.register__text-input {
  padding: 11px 42px;
  width: 100%;
  height: 40px;
  -webkit-transition: border-color;
  transition: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid var(--border-color-modal);
  border-radius: 4px;
  outline: transparent;
  font-size: 12px;
}
.register__text-input:focus, .register__text-input:hover {
  border-color: var(--accent-color);
}
.register__text-input::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity;
  transition: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--placeholder-color-text);
  text-align: left;
}
.register__text-input::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity;
  transition: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--placeholder-color-text);
  text-align: left;
}
.register__text-input:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity;
  transition: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--placeholder-color-text);
  text-align: left;
}
.register__text-input::-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity;
  transition: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--placeholder-color-text);
  text-align: left;
}
.register__text-input::placeholder {
  opacity: 0;
  -webkit-transition: opacity;
  transition: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--placeholder-color-text);
  text-align: left;
}
.register__text-input:focus::-webkit-input-placeholder {
  opacity: 1;
}
.register__text-input:focus::-moz-placeholder {
  opacity: 1;
}
.register__text-input:focus:-ms-input-placeholder {
  opacity: 1;
}
.register__text-input:focus::-ms-input-placeholder {
  opacity: 1;
}
.register__text-input:focus::placeholder {
  opacity: 1;
}

.register__form-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  -webkit-transition: fill;
  transition: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--title-text-color);
}
.register__text-input:focus + .register__form-icon, .register__text-input:hover + .register__form-icon {
  fill: var(--accent-color);
}

.register__name-form {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--primary-text-color);
}

.register__textarea-text {
  display: block;
  resize: none;
  width: 100%;
  -webkit-transition: border-color;
  transition: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  padding: 12px 16px;
  border: 1px solid var(--border-color-modal);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.register__textarea-text:focus, .register__textarea-text:hover {
  border-color: var(--accent-color);
}
.register__textarea-text::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--placeholder-color-text);
}
.register__textarea-text::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--placeholder-color-text);
}
.register__textarea-text:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--placeholder-color-text);
}
.register__textarea-text::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--placeholder-color-text);
}
.register__textarea-text::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--placeholder-color-text);
}

/**
  |============================
  | Блок 16
  |============================
*/
.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.checkbox-modal:focus + .checkbox__switch-icon {
  outline: 2px solid var(--accent-color);
  outline-offset: 1px;
  border-radius: 1px;
}

.checkbox__icon-checked {
  opacity: 0;
  fill: var(--accent-color);
  -webkit-transition: opacity;
  transition: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-modal:checked + .checkbox__switch-icon .checkbox__icon-checked {
  opacity: 1;
}

.checkbox__icon-unchecked {
  opacity: 1;
  -webkit-transition: opacity;
  transition: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-modal:checked + .checkbox__switch-icon .checkbox__icon-unchecked {
  opacity: 0;
}

.checkbox__contract {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.checkbox__forma-link {
  color: var(--accent-color);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

/**
  |============================
  | Блок 17
  |============================
*/
.button-modal {
  display: block;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition-property: background-color, cursor;
  transition-property: background-color, cursor;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 10px 52px;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--button-text-color);
}
.button-modal:hover, .button-modal:focus {
  background-color: var(--booton-activ-color);
  cursor: pointer;
}

/**
  |============================
  | Блок 18
  |============================
*/
.features {
  --items: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.features__item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.features__box-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--secondary-background-color-pag);
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
}

.features__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__text {
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

/**
  |============================
  | Блок 19
  |============================
*/
.work-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.work {
  --items: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.work__item {
  position: relative;
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.work__name {
  color: var(--button-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.work__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  content: "";
  width: 100%;
  height: 70px;
  background-color: var(--activ-color-works);
}

/**
  |============================
  | Блок 20
  |============================
*/
/* Наша команда */
.fon {
  background-color: var(--secondary-background-color-pag);
}

.team {
  --items: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.team-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team__item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  background-color: var(--background-color-header);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__box-name {
  width: 270px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.team__name {
  margin-bottom: 10px;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__text {
  margin-bottom: 16px;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.19;
}

/**
  |============================
  | Блок 21
  |============================
*/
.network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.network__socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.network__socials-link--color {
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--background-color-header);
  color: var(--color-icon);
}
.network__socials-link--color:hover, .network__socials-link--color:focus {
  color: var(--button-text-color);
  background-color: var(--accent-color);
}

.network__socials-link--color-invers {
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--backdrop-color-footer-network);
  color: var(--button-text-color);
}
.network__socials-link--color-invers:hover, .network__socials-link--color-invers:focus {
  background-color: var(--accent-color);
}

.network__socials-icon {
  fill: currentColor;
}

/**
  |============================
  | Блок 22
  |============================
*/
.clients {
  --items: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.clients-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.clients__item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: color, border;
  transition-property: color, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  height: 92px;
  width: 170px;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  color: var(--color-icon);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

/**
  |============================
  | Блок 23
  |============================
*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color-footer);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

/**
  |============================
  | Блок 24
  |============================
*/
.address {
  margin-top: 20px;
  letter-spacing: 0.03em;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.19;
}

.address__item {
  margin-top: 0;
  margin-bottom: 9px;
}
.address__item:last-child {
  margin-bottom: 0;
}

.address__link-contacts {
  color: var(--accent-color-text-footer);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}
.address__link-contacts:hover, .address__link-contacts:focus {
  color: var(--accent-color);
}

.address__link-contacts--light {
  color: var(--footer-text-color);
}
.address__link-contacts--light:hover, .address__link-contacts--light:focus {
  color: var(--accent-color);
}

/**
  |============================
  | Блок 25
  |============================
*/
.box-footer-network {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-left: 70px;
}

.footer-title-network {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-text-color);
}

/**
  |============================
  | Блок 26
  |============================
*/
.footer-form {
  min-width: 570;
  min-height: 86px;
  margin-left: auto;
}

.footer-form__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-text-color);
}

.footer-form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-form__field {
  display: block;
  padding: 15px 16px;
  color: var(--footer-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  min-width: 358px;
  height: 50px;
  border: 1px solid var(--border-color-footer);
  background-color: var(--background-color-footer);
  border-radius: 4px;
}
.footer-form__field::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--accent-color-text-footer);
  text-align: left;
}
.footer-form__field::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--accent-color-text-footer);
  text-align: left;
}
.footer-form__field:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--accent-color-text-footer);
  text-align: left;
}
.footer-form__field::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--accent-color-text-footer);
  text-align: left;
}
.footer-form__field::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--accent-color-text-footer);
  text-align: left;
}

.button-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px;
  margin-left: 12px;
}

.button-footer__icvon {
  margin-left: 10px;
  fill: var(--button-text-color);
}

/**
  |============================
  | Блок 27 (ПОРТФОЛІО)
  |============================
*/
.filter-item {
  margin-top: 0;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-item__btn {
  margin-left: 0;
  display: inline-block;
  padding: 6px 22px;
  min-width: 73px;
  border-radius: 4px;
  border: 1px solid transparent;
  color: var(--title-text-color);
  background-color: var(--secondary-background-color-pag);
  -webkit-transition-property: color, background-color, cursor, -webkit-box-shadow;
  transition-property: color, background-color, cursor, -webkit-box-shadow;
  transition-property: color, background-color, cursor, box-shadow;
  transition-property: color, background-color, cursor, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: inherit;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}
.filter-item__btn:hover, .filter-item__btn:focus {
  color: var(--button-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/**
  |============================
  | Блок 28 (ПОРТФОЛІО)
  |============================
*/
.projects {
  --items: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.projects__item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.projects__link {
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__link:hover, .projects__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__img-box {
  position: relative;
  display: block;
  overflow: hidden;
}

.projects__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--activ-color-projects);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.projects__link:hover .projects__overlay, .projects__link:focus .projects__overlay {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.projects__text {
  position: absolute;
  width: 100%;
  max-height: 100%;
  padding: 63px 24px;
  overflow: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--button-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.projects__name {
  padding: 20px 24px;
  border-top: 1px solid transparent;
  border-right: 1px solid var(--color-border-projects);
  border-bottom: 1px solid var(--color-border-projects);
  border-left: 1px solid var(--color-border-projects);
}

.projects__title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.projects__product {
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.88;
}/*# sourceMappingURL=main.css.map */