/**
  |============================
  | Блок 23
  |============================
*/

// Footer
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background-color-footer);
}

.footer__container {
  text-align: center;
  @media screen and (min-width: 768px) {
    // padding-left: 76px;
    // padding-right: 89px;
  }
}

.footer-tablet {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    margin-bottom: 60px;
    justify-content: space-around;
  }
}
