/**
  |============================
  | Блок 25
  |============================
*/

// footer social network
.box-footer-network {
align-items: baseline;
margin-left: 70px;
}

.footer-title-network {
margin-bottom: 20px;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--button-text-color);
}