/**
  |============================
  | Блок 26
  |============================
*/

// форма
.footer-form {
min-width: 570;
min-height: 86px;
margin-left: auto;
}

.footer-form__title {
display: block;

margin-bottom: 20px;

font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--footer-text-color);
}

.footer-form__group {
display: flex;
}

.footer-form__field {
display: block;

padding: 15px 16px;

color: var(--footer-text-color);
font-weight: 400;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.03em;


min-width: 358px;
height: 50px;

border: 1px solid var(--border-color-footer);
background-color: var(--background-color-footer);
border-radius: 4px;

&::placeholder {
font-weight: 400;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.03em;
color: var(--accent-color-text-footer);
text-align: left;
}
}

.button-footer {
display: flex;
justify-content: center;
align-items: center;

padding: 10px 28px;
margin-left: 12px;
}

.button-footer__icvon {
margin-left: 10px;
fill: var(--button-text-color);
}