/**
  |============================
  | Блок 6
  |============================
*/

// Header
.header {
  background-color: var(--background-color-header);

  border-bottom: 1px solid var(--color-border-projects);

  letter-spacing: 0.02em;
}
