/**
  |============================
  | Блок 10
  |============================
*/

/* Блок герой */
.hero__container {
  max-width: 1600px;
  height: 400px;

  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  background-color: var(--background-color-hero);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  // Для мобілок
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../../images/hero/img_ms-@1x.png");

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../images/hero/img_ms-@2x.png");
  }

  // Для планшета
  @media screen and (min-width: 481px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../images/hero/img_md-@1x.png");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../../images/hero/img_md-@2x.png");
    }
  }

  // Для десктопа
  @media screen and (min-width: 769px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../images/hero/img_lg-@1x.png");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../../images/hero/img_lg-@2x.png");
    }
  }

  @media screen and (min-width: 1200px) {
    height: 600px;

    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-bottom: 30px;

  color: var(--button-text-color);

  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42px / 26px);
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: calc(60px / 44px);
  }
}
