/**
  |============================
  | Блок 7
  |============================
*/

/* Логотип header*/
.logo {
  display: block;

  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(26px / 24px);
  text-decoration: none;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: calc(31px / 26px);
  }
}

.logo__dark {
  color: var(--logo-text-color);

  text-decoration: none;
}

.logo__light {
  color: var(--footer-text-color);

  text-decoration: none;
}
