/**
  |============================
  | Блок 28 (ПОРТФОЛІО)
  |============================
*/

// Проекти
.projects {
--items: 3;    
display: flex;
flex-wrap: wrap;
gap: 30px;
}

.projects__item {
flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.projects__link {
display: block;

transition-property: box-shadow;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover, 
&:focus {
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
}

.projects__img-box {
position: relative;
display: block;
overflow: hidden;
}

.projects__overlay {
position: absolute;
bottom: 0;
left: 0;

content: "";
width: 100%;
height: 100%;
background-color: var(--activ-color-projects);

transition-property: opacity, transform;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

opacity: 0;

transform: translateY(100%);

.projects__link:hover &,
.projects__link:focus & {
opacity: 1;
transform: translateY(0%);
}
}

.projects__text {
position: absolute;
width: 100%;
max-height: 100%;

padding: 63px 24px;
overflow: auto;

top: 50%;
left: 50%;
transform: translate(-50%, -50%);

display: flex;
color: var(--button-text-color);

font-weight: 400;
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;
}

.projects__name {
padding: 20px 24px;

border-top: 1px solid transparent;
border-right: 1px solid var(--color-border-projects);
border-bottom: 1px solid var(--color-border-projects);
border-left: 1px solid var(--color-border-projects);
}

.projects__title {
margin-bottom: 4px;
color: var(--title-text-color);

letter-spacing: 0.06em;
font-weight: 700;
font-size: 18px;
line-height: 2.0;
}
.projects__product {
color: var(--primary-text-color);

letter-spacing: 0.03em;
font-size: 16px;
line-height: 1.88;
}